body {
    font-family: 'Open Sans', sans-serif;
    background: #A5B68D;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B17F59;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 5;
    font-size: 2rem;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.card img {
     width: 100%;
     max-width: 300px;
     border-radius: 10px;
     margin-top: 10px;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

form label {
    font-weight: 600;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

form button {
    background-color: #d4a373;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 1rem;
}

form button:hover {
    background-color: #c28758;
}
